userWorkloadAccess:
  enabled: true
  podMonitor:
    meshIdLabel:
      enabled: true
      key: mesh_id
      value: istiod-istio-system
members:
  - istio-ingress
labels:
  istio.io/rev: default
  argocd.argoproj.io/managed-by: openshift-gitops
annotations:
  argocd.argoproj.io/sync-options: Delete=false 
networkpolicies:
  canaryUpgrades:
    enabled: true
    istioSystemNamespace: istio-system
ambient:
  enabled: false
